/* Animations */
.nav 
{
	-webkit-animation-delay: 2s;
}

header
{
	-webkit-animation-delay: 1s;
}
.services 
{
  	-webkit-animation-delay: 2s;
}

.awards
{
	-webkit-animation-delay: 3s;
}

.navbar-default
{
		background-color: silver;
		margin-bottom: 0;
		border: none;
}

.logo
{
		width: 80px;
		height: 80px;
		padding: 10px 15px;
		
}

.navbar-brand,
.navbar-nav li a 
{
		height: 80px;
		line-height: 80px;
		padding: 0 25px;
		margin-left: 1px;
		background-color: silver;
		font-family: 'Oswald', sans-serif;
		font-size: 1.3em;
		color: black;
		border-right: 1px solid #393939;
		-webkit-box-shadow: 1px 0px 0px rgba(255, 255, 255, .1);
		-moz-box-shadow: 1px 0px 0px 9px rgba(255, 255, 255, .1);
		box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, .1);
}

.navbar-brand
{
		padding-right: 0px;
}

.navbar-default .navbar-nav > li > a
{
		color: black;
}

.navbar-default .navbar-nav > li > a:hover
{
		color: #fff;
		background-color: #535252;
}
.navbar-default .navbar-toggle
{
		margin-top: 25px;
		border-color: #646464;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
		color: #FFF;
		background-color: #535252;
}

/* social icons */
li.twitter a 
{
		width: 80px;
		background-color: #5ea9dd !important;
		color: #fff !important;
		font-size: 1.8em;
		text-align: center;
		box-shadow: none;
		border-right: none;
}

li.facebook a 
{
		width: 80px;
		background-color: #3b5998 !important;
		color: #fff !important;
		font-size: 1.8em;
		text-align: center;
		box-shadow: none;
		border-right: none;
}

li.twitter a:hover,
li.facebook a:hover
{
		opacity: .8;
}


/* Header */
header
{
		height: 700px;
		text-align: center;
		padding-top: 75px;
		background-image: url(http://i197.photobucket.com/albums/aa243/chukaluk/headbg.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		opacity: .9;
}

.aa
{
		height: 320px;
		width: 500px;
}

header h2
{
		margin-top: 50px;
		font-size: 3.5em;
		color: #fff;
		font-family: 'Oswald' , sans-serif;
}

header p
{
		padding: 0 20px;
		font-size: 1.5em;
		color: black;
		font-family: 'Open Sans' , sans-serif;
		max-width: 405px;
		opacity: 1.0 !important;

}




/* Main Content */

.main-content
{
	padding: 60px 100px;
}
.main-content h3
{
	padding: 10px 30px;
	display: inline-block;
	font-family: 'Oswald' , sans-serif;
	font-size: 1.5em;
	color: silver;
	border: 3px solid silver;
}

.main-content h4
{
	color: #3f3f3f;
	font-size:;
	font-family: 'Oswald', sans-serif;
}

.services,
.awards
{
	text-align: center;
}



footer
{
	width: 100%;
	height: 200px;
	text-align: center;
	color: black;
	background-color: silver;
}

footer p
{
	padding-top: 100px;
}



footer a
{
	color: black;
	text-decoration: none;
}

a:hover
{
	color: blue;
	text-decoration: none;
}

.websites
{
	text-align: center;
}
.post 
{
	text-align: center;
}

/* CONTACT */

input
{
	width: 100%;
	height: 50px;
	padding: 0 20px;
	border: 3px solid silver;
	margin-bottom: 20px;
	color: silver;
	font-family: 'Oswald', sans-serif;
	font-size: 1.3em;
}

input:focus
{
	border: 3px solid black;
	box-shadow: 0 0 5px 1px black;
}

.send
{
	width: 180px;
	background-color: #fff;
}

.message
{
	height: 220px;
}

@media (max-width: 768px){
		.navbar-default .navbar-nav > li > a 
		{
			width: 100%;
			border-bottom: 1px solid #3d3d3d;
			text-align: center;
		}
}
